@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --tomato:rgb(230, 83, 60);
    --white-primary:rgb(255, 255, 255);
    --gray-light:rgb(34, 34, 34);
    --black-primary:rgb(0, 0, 0);
    --white-light:rgb(250, 250, 249);
    --gray-primary:rgba(239, 237, 232, 0.65);
}

/* common style start */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.d-flex{
    display: flex;
    align-items: center;
}
.common-size{
  max-width: 1440px;
    width: 100%;
       margin: auto;
}
.btn{
color:var(--white-primary);
font-size:1.125rem ;
font-weight: 600;
line-height:1.375rem;
letter-spacing: 0px;
border-radius: 2.6rem;
background: var(--tomato);
padding: 1rem 2.5rem;
border: none;
}
.section-title{
    color: var(--white-primary);
    font-size: 3rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin-bottom: 1rem;
}
.section-content{
    color: var(--white-primary);
    opacity: 0.5;
font-size: 0.9rem;
font-weight: 400;
line-height: 1.2rem;
letter-spacing: 0.3px;
}
.sub-habits-title{
    color: var(--white-primary);
font-size: 1.12rem;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
margin-bottom: 0.5rem;
}
/* common style end */    

/* header section start */
header{
  background: black;
 
    overflow: hidden;
}
header .blare{
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(17, 17, 17),rgba(119, 119, 119, 0.3) 100%);
    padding-top: 1rem;
    
}

/* nav section start */
.nav-area{
    width: 80%;
    margin:4rem auto;
    
}
.nav-area .nav{
    justify-content: space-between;
}
.nav-logo .logo{
    color: var(--tomato);
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;

}
.nav-item .nav-items{
  gap: 3rem;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 2.43rem; 
}
.nav-items .nav-list .nav-link{
    color: var( --white-primary);
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;

}
.nav-items .nav-list{
     padding: 0.7rem 1.25rem;
}
.nav-items .nav-list:nth-child(1){
     border-radius: 2.9rem;
     background: var(--tomato);
}
.bar{
    display: none;
}
/* nav section end */
/* banner section start */
.banner{
    width: 80%;
    margin: auto;
    gap: 10rem;

}
.banner .banner-content{
    width: 50%;
  
}
.banner .banner-content .banner-title{
    color:var(--white-primary);
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;    
}
.banner .banner-content .banner-sub-content{
    color: var(--white-primary);
    opacity: 0.5;
    font-size: 1rem;
    font-weight: 400;
    line-height:1.5rem;
    letter-spacing: 0.03rem;
    margin: 2rem 0rem ;
}
.btn-2{
    background-color: var(--black-primary);
    border:1px solid var(--white-primary);
    margin-left: 0.5rem;
}
.banner-img{
    position: relative;
}
.up{
    position: absolute;
    top: 23%;
    left: 65%;
    width: max-content;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
    backdrop-filter: blur(20px);
   background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
}
.up .up-number{
    color:var(--white-primary);
font-size: 2.5rem;
font-weight: 900;
line-height: 2.5rem;
letter-spacing: 1px;
 margin-bottom: 0.3rem;
} 
.up .up-content{
    color: rgba(255, 255, 255, 0.65);
font-size: 0.8rem;
font-weight: 400;
line-height: 1.25rem;
letter-spacing: 0.06rem;
}
.down{
  gap: 1rem;
  width: max-content;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 0.75rem;
backdrop-filter: blur(20px);
background: rgba(48, 48, 48, 0.35);
padding: 1.25rem;
position: absolute;
top: 72%;
left: -30%;
}
.down .circle{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--tomato);
    border-radius: 50%;
}
.down .sub-down .down-title{
    color: var( --white-light);
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    margin-bottom: 0.3rem;
}
.down .sub-down .down-content{
    color: var(--gray-primary);
    font-size: 1rem;
    font-weight: 400;
    line-height:1.5rem;
    letter-spacing: 0.5px;
}


/* banner section end */


/* header section end */
/* main start */
main{
    background-color: var(--black-primary);
     overflow: hidden;
}

/* habits section start */
main .habits{
    width: 80%;
    margin: 6rem auto;
    text-align: center;
    
}
.habits .sub-habits{
    gap: 1rem;
}
.habits .sub-habits .exercise img{
    border-radius: 50%;
    margin: 2rem auto 1rem;
    
}
/* habits section end */

/* run-extra section start */
main .run-extra{
    width: 80%;
    margin: 5rem auto;
    border-radius: 1.125rem;
    background: var( --gray-light);
    /* padding: 2rem; */
    padding-right: 2.5rem;
}
main .run-extra .sub-run-extra{
    gap: 10rem;

}
.run-extra .sub-run-extra .run-extra-content{
    padding: 3.5rem
}
.img-section img{
    width: 100%;
    height: 100%;
    border-radius: 1.125rem;
}
.sub-run-extra .run-extra-content .run-btn{
    margin-top: 2rem;
    padding: 1rem 4rem;
}
/* run-extra section end */
/* training section start */
main .training{
    width: 80%;
    margin: auto;
}
main .training .sub-training{
    margin-top: 3rem;
}
.sub-training .img-section-1{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: repeat(1 , 1fr);
}

.sub-training .img-section-1 .img-1:nth-child(1){
    grid-column: 1 / 3;

}
.sub-training .img-section-1 .img-1:nth-child(2){
    grid-column: 3 / 9;
}
.sub-training .img-section-1 .img-1:nth-child(3){
    grid-column: 9 / 13;
}

.sub-training .img-section-2{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
     grid-template-rows: repeat(4 , 1fr);
}
.sub-training .img-section-2 .img-2:nth-child(1){
    grid-column: 1 / 6;
   

}
.sub-training .img-section-2 .img-2:nth-child(2){
    grid-column: 6 / 9;
}
.sub-training .img-section-2 .img-2:nth-child(3){
    grid-column: 9 / 13;
}
.sub-training img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}









/* training section end */


/* main end */